html, body {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: helvetica, arial;
  margin: 0px;
  overflow: hidden;
}

i {
  color: white;
}

table {
  height: auto;
  padding: 3%;
  padding-top: 1%;
}

th, td {
  padding-bottom: 2.2vw;
  color: white;
}

table td {
  padding-left: 20px;
  font-weight: normal;
  text-align: left;
  font-size: 2.2vw;
}
