:root {
}

body {
  font-family: helvetica, arial;
  margin: 0px;
  text-align: center;
  overflow-x: hidden;
}

/* rgb(241,248,255) */

footer {
  width: 100%;
  background: #004A95;
  bottom: 0px;
  /* margin-top: */
  /* background: linear-gradient(to bottom right, #6f86d6, #48c6ef, #764ba2) */
}

#heading-name {
  margin-top: 0;
  font-weight: normal;
  font-size: 6vw;
}

#pagetop {
  z-index: 10;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 10%;
  background-image: url("mountains.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #FFF;
  font-size: 23px;
  text-shadow: 3px 3px #000000;
  /* padding-top: 50px; */
  transition: smooth;
  overflow: hidden;
}

#pagetop > #menu{
	position: absolute;
	bottom: 0px;
	width:100%;
	background-color: #004A95;
	height: 50px;
	transition: height 0.3s linear 0s;
}

.central-column {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.topper {
  margin-top: 900px;
  color: green;
}

.contact-heading {
  font-size: 3vw;
  text-align: left;
  padding-left: 3%;
  padding-top: 2%;
}

.top-table {
  width: 100%;
  height: 23vw;
  border: none;
}

.top-table table td i{
  color:black;
}

.bottom-table {
  width: 100%;
  height: 23vw;
  border: none;
}

#rotator-one {
  margin-left: 2vw;
  margin-top: 20px;
  width: 85%;
  border: 16px ridge brown;
  transform: rotate(180deg);
  transform-origin: 0% 0%;
  transition: 400ms ease-out all;
  box-shadow: 5px 5px 5px grey;
  /* transition: rotate 0.3s linear 0s, padding 0.3s linear 0s; */
}

#p-one {
  margin: 0px;
  margin-left: -100vw;
  height: 100%;
  text-align: left;
  padding: 20px;
  font-size: 18px;
  left: 0px;
  background-color: transparent;
  color: transparent;
  transition: 800ms ease;
  transition-delay: 250ms;
}

#p-one p {
  transition-delay: 100ms;
}

.tech-edu iframe{
  overflow: hidden;
  margin-top: 2vw;
  width: 200%;
  height: 50vw;
  border: none;
  overflow: hidden;
}

@media (min-aspect-ratio: 3/2) {
  #pagetop {
    background-size: 100%;
  }
}

@media (max-aspect-ratio: 3/2) {
  #pagetop {
    background-size: auto 100%;
  }
  #heading-name {
    margin-top: 1.5vw;
  }
}
