:root {
  --rounded: 1vw;
}

body {
  font-family: helvetica, arial;
  margin: 0px;
  text-align: center;
  overflow-x: hidden;
}

/* rgb(241,248,255) */

footer {
  width: 100%;
  background: #004A95;
  bottom: 0px;
  /* margin-top: */
  /* background: linear-gradient(to bottom right, #6f86d6, #48c6ef, #764ba2) */
}

#heading-name {
  margin-top: 0;
  font-weight: normal;
  font-size: 6vw;
}

#pagetop {
  z-index: 10;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url("pictures/mountains.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #FFF;
  font-size: 23px;
  text-shadow: 3px 3px #000000;
  /* padding-top: 50px; */
  transition: smooth;
  overflow: hidden;
}

#menu{
  text-align: left;
	position: absolute;
	bottom: 0px;
	width:100%;
  background-color: #004A95;
	height: 50px;
	transition: height 0.3s linear 0s;
}

#menu button {
  background-color: transparent;
  color: white;
  height: 2.5vw;
  font-size: 1.5vw;
  border-style: none;
  border-left: 0.5vw solid dodgerblue;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3vw;
}

#menu button:hover {
  background-color: dodgerblue;
}

#topper {
  margin-top: 700px;
}

#intro-paragraph {
  padding: 5vw;
  margin: 0 auto 3vw auto;
  text-align: left;
  color: white;
  font-size: 2vw;
  font-weight: normal;
  background-color: rgb(47,138,185);
}


.contact-heading {
  font-size: 3vw;
  text-align: left;
  padding-left: 3%;
  padding-top: 2%;
}

.top-table {
  width: 100%;
  height: 23vw;
  border: none;
}

.top-table table td i{
  color:black;
}

.bottom-table {
  width: 100%;
  height: 23vw;
  border: none;
}

@media (min-aspect-ratio: 5/3) {
  #pagetop {
    background-size: 100%;
  }
}

@media (max-aspect-ratio: 3/2) {
  #pagetop {
    background-size: auto 100%;
  }
  #heading-name {
    margin-top: 1.5vw;
  }
}

#tech-edu {
  text-align: left;
  overflow: hidden;
  margin-top: 1vw;
  margin-bottom: 0vw;
  width: 100%;
  height: 40vw;
  border: none;
  overflow: hidden;
}

ul {
  vertical-align: bottom;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

li {
  text-align: left;
  margin-bottom: 2vw;
  margin-right: 4vw;
  font-size: 2vw;
}


#tech {
  margin-left: 2vw;
  color: transparent;
  padding-left: 2%;
  padding-right: 2%;
  vertical-align: top;
  display: inline-block;
  width: 50%;
  height: 34vw;
  background-color: rgba(0, 165, 145, 0.8);
  border-radius: var(--rounded);
  transition: 800ms ease;
}

#edu {
  color: transparent;
  overflow: hidden;
  margin-left: 25vw;
  padding-left: 3vw;
  padding-bottom: 2vw;
  vertical-align: top;
  display: inline-block;
  width: 10%;
  height: 32vw;
  background-color: rgba(191, 214, 65, 0.8);
  border-radius: var(--rounded);
  transition: 800ms ease;
}

#edu li {
  transition-delay: 200ms;
}




#global-statistics {
  background-color: lightgrey;
  padding: 2vw, auto;
}

#pferStats {
  opacity: 1;
  display: inline-block;
  width: 70%;
  margin-left: 5vw;
  margin-bottom: 10vw;
  text-align: left;
  font-size: 1.5vw;
  padding: 2vw;
  box-shadow: 1vw 1vw 0.5vw darkgrey;
  background-color: white;
  transition: 800ms ease;
}

.pfer-stat {
  display: inline-block;
  vertical-align: top;
  width: 35%;
  margin-left: 5%;
  margin-right: 10%;
  margin-bottom: 10vw;
  text-align: left;
  font-size: 1.5vw;
  padding: 2vw;
  box-shadow: 1vw 1vw 0.5vw darkgrey;
  background-color: white;
  transition: 800ms ease;
}

.statsite-img {
  width: 40%;
}






#fit-site {
  background-color: cornsilk;
}

#pfer {
  opacity: 0;
  display: inline-block;
  width: 70%;
  margin-left: 5vw;
  margin-bottom: 10vw;
  text-align: left;
  font-size: 1.5vw;
  padding: 2vw;
  box-shadow: 1vw 1vw 0.5vw rgb(238,170,0);
  background-color: white;
  transition: 800ms ease;
}

.pfer2 {
  opacity: 0;
  display: inline-block;
  vertical-align: top;
  width: 35%;
  margin-left: 5%;
  margin-right: 10%;
  margin-bottom: 1vw;
  text-align: left;
  font-size: 1.5vw;
  padding: 2vw;
  box-shadow: 1vw 1vw 0.5vw rgb(238,170,0);
  background-color: white;
  transition: 800ms ease;
}

#fit-site img {
  opacity: 0;
  display: inline-block;
  margin-right: 5vw;
  /* display: inline-block; */
  text-align: right !important;
  width: 40%;
  margin-bottom: 5vw;
  box-shadow: 1vw 1vw 0.5vw rgb(238,170,0);
  transition: 800ms ease;
}









#networkingApp {
  padding: 0vw 0 5vw 0;
  padding-top: 1vw;
  padding-bottom: 2vw;
  background-color: purple;
}

.rotator {
  /* transform: rotate(180deg); */
  box-shadow: 0.5vw 0.5vw 0.5vw white;
  border: 16px ridge orchid;
  transition: 400ms ease-out all;
  margin-bottom: 10vw;
}

#rotator-one {
  margin-left: 2vw;
  width: 70%;
  transform-origin: 0% 0%;
  /* transition: rotate 0.3s linear 0s, padding 0.3s linear 0s; */
}

#p-one {
  margin: 0px;
  height: 100%;
  text-align: left;
  padding: 1vw;
  padding-top: 1.5vw;
  font-size: 1.5vw;
  left: 0px;
  background-color: white;
  /* color: transparent; */
  transition: 800ms ease;
  transition-delay: 250ms;
}

#p-one p {
  transition-delay: 100ms;
}

.network-para {
  margin: 0vw auto;
  margin-bottom: 0;
}

.network-para p, .network-para img, .network-para div {
  display: inline-block;
  text-align: left;
}

.network-para p {
  padding: 1vw;
  font-size: 1.5vw;
  vertical-align: top;
  width: 35%;
  height: 7vw;
  margin-right: 5vw;
  background-color: white;
  box-shadow: 0.5vw 0.5vw 0.5vw white;
  border: 16px ridge orchid;
}

.network-para img {
  width: 50%;
  transform-origin: 100% 50%;
  transform: rotateY(180deg);
  box-shadow: 0.5vw 0.5vw 0.5vw white;
  /* border: 16px ridge orchid; */
  transition: 400ms ease-out all;
  margin-bottom: 5vw;
}



#product-process {
  background-color: rgb(230, 245, 255);
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 4vw;
  overflow: hidden;
  width: 100%;
}

#list-process-left {
  position: relative;
  padding-top: 2vw;
  margin-left: 8vw;
  margin-right: auto;
  display: inline-block;
  width: 38%;
  background: linear-gradient(to right, rgb(230, 245, 255), rgb(216, 230, 255) 95%);
}

#list-process-right {
  position:relative;
  padding-top: 2vw;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 38%;
  background: linear-gradient(to right, rgb(230, 245, 255), rgb(216, 230, 255));
}

.process-left {
  background-image: -webkit-gradient(linear,30% 0%,70% 100%,from(#00A0E6),to(rgb(67,220,190)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: -50vw;
  white-space: pre;
  font-size: 3vw;
  font-weight: bold;
  text-align: left;
  padding-left: 3vw;
  padding-bottom: 2vw;
  transition: 500ms ease;
  color: black;
  /* background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.process-right {
  background-image: -webkit-gradient(linear,30% 0%,70% 100%,from(#00A0E6),to(rgb(67,220,190)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 50vw;
  white-space: pre;
  font-size: 3vw;
  font-weight: bold;
  text-align: left;
  padding-left: 3vw;
  padding-bottom: 2vw;
  transition: 500ms ease;
}

.info-right {
  /* background-color: rgb(220,240,240); */
  font-size: 1.6vw;
  display: none;
  background-color: white;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1vw solid #004A95;
  padding: 1vw;
}

.info-left {
  /* background-color: rgb(220,240,240); */
  font-size: 1.6vw;
  display: none;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0vw;
  width: 100%;
  height: 100%;
  border: 1vw solid #004A95;
  padding: 1vw;
}

.info-right img, .info-left img {
  max-width: 100%;
  max-height: 55%;
  margin-bottom: 1vw;
}

.more-to-come {
  font-size: 3vw;
  font-weight: bold;
  background-image: -webkit-gradient(linear,30% 0%,70% 100%,from(#09203f),to(#537895));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 5vw;
}

.thank-you {
  font-size: 12vw;
  background-image: -webkit-gradient(linear,30% 0%,70% 100%,from(#09203f),to(#537895));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5vw;
}
